header {
    text-align: center;
}
header h1 {
    color: rgba(207, 44, 44, 0.863);
    background-color: black;
    font-size: 60px;
    font-family: fantasy;
    display: block;
    padding: 15px 0px 10px 0px;
    margin-bottom: 0px;
}
nav {
    background-color: dimgray;
    padding: 20px 0px 10px 0px;
}
nav ul {
    margin-top: 0px;
    font-size: 20px;
}
nav li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
    font-size: 30px;
}
nav a {
    color: ghostwhite;
    text-decoration: none;
}
main {
    background-image: url(https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,q_auto,f_auto/v1517845732/1517845731.jpg);
}
h2 {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 p{
    background-color: white;
    padding: 20px 10px 20px 10px;
    
}
div {
    text-align: center;
    ;
}
img {
display: list-item;
margin-left: 250px;
margin-top: 50px;
}
a {
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 20px;
}
div p {
    background-color: white;
    padding: 20px 10px 20px 10px;
}
footer {
    text-align: center;
}
